/* @font-face {
  font-family: 'mono';
  src: url(../assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'mono-italic';
  src: url(../assets/fonts/RobotoMono-Italic-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Roboto Condensed";
  src: url(./fonts/RobotoCondensed-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto Condensed Italic";
  src: url(./fonts/RobotoCondensed-Italic-VariableFont_wght.ttf);
}

:root {
  /* tailwind "stone" palette */
  --white1: #fafaf9;
  --white2: #f5f5f4;
  --white3: #e7e5e4;
  --black1: #1c1917;
  --black2: #292524;
  --black3: #44403c;

  /* html colors */
  --accent1: darkslategray;
  --accent2: mediumaquamarine;
  --warning: crimson;
  --success: yellowgreen;
  --info: lightseagreen;
  --user-admin: goldenrod;
  --user-mod: var(--info);

  --fontstack: Helvetica, Arial, sans-serif;
  --radius: 5px;
  --cardshadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

[data-theme="light"] {
  --fg: var(--black2);
  --bg: var(--white1);
  --bg2: var(--white2);
  --border: var(--white3);
  --alert-bg-opac: 0.25;
  --alert-txt-lumi: -0.125;
}

[data-theme="dark"] {
  --fg: var(--white3);
  --bg: var(--black2);
  --bg2: var(--black1);
  --border: var(--black3);
  --alert-bg-opac: 0.05;
  --alert-txt-lumi: 0.125;
}

body {
  font-family: "Roboto Condensed", var(--fontstack);
  font-weight: 400;
  color: var(--fg);
  background-color: var(--bg2);
  background-image: linear-gradient(
      to top,
      var(--bg2),
      oklch(from var(--bg2) l c h / 0.875) 50%
    ),
    linear-gradient(to top, var(--bg2), transparent), url("./green-deco.gif");
  background-blend-mode: luminosity;
  background-attachment: fixed;
  background-position: center;
}

i {
  font-style: normal !important;
  font-family: "Roboto Condensed Italic", var(--fontstack);
}

#root {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  header,
  main,
  footer {
    width: 100%;
  }
  > .spacer {
    background-color: var(--accent1);
    color: white;
    height: 100vh;
    svg {
      color: var(--accent2);
    }
  }
}

header {
  background-color: var(--accent1);
  color: white;
  padding-bottom: 3rem;
  box-shadow: var(--cardshadow);
  a {
    color: white;
  }
}

main {
  margin-top: -3rem;
  flex-grow: 1;
  padding: 0 1rem;
  min-height: max-content;
}

.body {
  padding: 1.25rem;
  margin: auto;
  width: 100%;
  /* height: 100%; */
  max-width: 1025px;
}

header .body {
  container: header / inline-size;
}

main .body {
  /* height: auto;
  min-height: max-content; */
  background-color: var(--bg);
  border-radius: var(--radius);
  box-shadow: var(--cardshadow);
  container: main / inline-size;
}

footer .body {
  width: 100%;
  text-align: center;
}

/* basics */

small {
  line-height: 0.75rem;
}

a {
  font-weight: bold;
  color: var(--accent2);
}

textarea {
  font-family: monospace;
}

input:not([type="checkbox"]),
textarea,
select {
  color: var(--fg);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  &:focus,
  &:focus-visible {
    outline: 2px solid var(--accent2);
    outline-offset: -1px;
  }
}

hr {
  height: 1px;
  width: 100%;
  border: none;
}

header hr {
  border-top: 1px solid oklch(from var(--accent1) calc(l + 0.5) c h / 0.25);
}

main hr {
  border-top: 1px solid var(--border);
}

.expanding-menu {
  overflow: hidden;
  transition: height 0.5s ease;
  /* li,
  button {
    width: 100%;
  }
  ul {
    padding: 3px;
  } */
}

.expanding-menu-links {
  justify-content: space-between;
  width: 100%;
  a {
    width: 100%;
    justify-content: start;
    padding: 0.5rem 0 !important;
    transition: padding 0.5s ease, background-color 0.5s ease;
    &:hover {
      padding: 0.5rem 0.75rem !important;
    }
  }
}

.logo {
  text-decoration: none;
  svg {
    color: var(--accent2);
    width: 2.5rem;
    height: 2.5rem;
  }
}

.primary {
  --color: var(--accent1);
}
.secondary {
  --color: var(--accent2);
}
.warning {
  --color: var(--warning);
}
.success {
  --color: var(--success);
}
.info {
  --color: var(--info);
}

.alert {
  padding: 0.5rem 0.75rem;
  width: 100%;
  border-radius: var(--radius);
  p {
    flex-grow: 1;
  }
  svg {
    flex-shrink: 0;
  }

  &.warning,
  &.success,
  &.info {
    background-color: oklch(
      from var(--color) calc(l + 0.5) c h / var(--alert-bg-opac)
    );
    color: oklch(from var(--color) calc(l + var(--alert-txt-lumi)) c h);
    a {
      color: oklch(from var(--color) calc(l + var(--alert-txt-lumi)) c h);
    }
    svg {
      color: var(--color);
    }
  }

  &.blind {
    background-color: oklch(from var(--fg) calc(l + 0.5) c h / 0.125);
    color: oklch(from var(--fg) calc(l + var(--alert-txt-lumi)) c h / 0.625);
    a {
      color: oklch(from var(--fg) calc(l + var(--alert-txt-lumi)) c h / 0.625);
    }
    svg {
      color: oklch(from var(--fg) calc(l - 0.125) c h / 0.625);
    }
  }
}

input:not([type="checkbox"]),
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--bg);
}

label {
  span {
    font-weight: bold;
    min-width: max-content;
    flex-shrink: 0;
  }
}

.body > h2 {
  margin-bottom: 1rem;
}

.form {
  width: 100%;
  button[type="submit"] {
    align-self: end;
  }
}

.form-label {
  width: 100%;
  &:has(.form-error) {
    input,
    select,
    textarea {
      border: 1px solid var(--warning);
    }
  }
}

.form-input-checklist {
  list-style: none;
  li {
    padding: 0.125rem 0;
    line-height: 1.625rem;
    &.good svg {
      color: var(--success);
    }
    &.missing svg {
      color: var(--warning);
    }
  }
}

.spacer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  svg {
    width: 2rem;
    height: 2rem;
  }
  p {
    text-align: center;
  }
}

.search {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
  align-items: center;
  justify-items: start;
  h3 {
    grid-column: 1 / 3;
  }
  label {
    width: 100%;
    text-align: right;
  }
}

.spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.search-result {
  padding: 1rem 0;
  h3 {
    line-height: 1.25rem;
  }
  & + .search-result {
    border-top: 1px solid oklch(from var(--border) l c h / 0.5);
  }
  svg {
    min-width: 1.125rem;
    flex-shrink: 0;
  }
}

.md-content {
  p {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

ul {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  margin-left: 1.125rem;
  list-style: square;
  li + li {
    margin-top: 0.25rem;
  }
  ul {
    list-style: circle;
  }
}

.icon-span {
  svg {
    vertical-align: bottom;
    width: 1.25rem;
  }
}

.replies {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}

.reply {
  position: relative;
  width: 100%;
}

.reply + .reply {
  margin-top: 0.5rem;
}

.reply-top {
  height: calc(1.5rem - 2px);
  margin-left: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.reply-body {
  border-left: 1px solid var(--border);
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.reply-loadmore {
  display: block;
  margin-left: -0.5rem;
}

.vote-widget {
  flex-shrink: 0;
  .button {
    padding: 0.125rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.125rem;
    }
  }
}

.flyout {
  width: max-content;
  height: max-content;
  position: relative;
  > button {
    padding: 0.125rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.125rem;
    }
  }
  .menu {
    z-index: 1;
    box-shadow: var(--cardshadow);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    background-color: var(--bg);
    position: absolute;
    padding: 0.25rem;
    button,
    a[type="button"] {
      width: 100%;
      text-align: left;
      min-width: max-content;
    }
  }
}

button.reply-collapse:not(:has(span)).plain {
  /* to get past specificity... */
  background-color: var(--bg);
  border-radius: 100%;
  padding: 0.125rem;
  border: 1px solid var(--border);
  position: absolute;
  left: calc(-0.75rem + 2px);
  svg {
    width: 1rem;
    height: 1rem;
  }
}

.reply-linkrow {
  margin-left: -0.5rem;
  .button {
    padding: 0.125rem 0.5rem;
    line-height: 1.5rem;
  }
}

.body .linkrow {
  justify-content: end;
}

.custom-toast {
  --toastify-color-light: var(--bg);
  --toastify-text-color-light: var(--fg);
  --toastify-color-info: var(--info);
  --toastify-color-success: var(--success);
  --toastify-color-warning: var(--warning);
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  box-shadow: var(--cardshadow);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  align-items: start;
  font-family: "Roboto Condensed", var(--fontstack);
  line-height: 1.25rem;

  .Toastify__toast-icon {
    width: auto;
    svg {
      flex-shrink: 0;
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  .Toastify__close-button--light {
    color: var(--fg);
  }

  p {
    margin-top: 0.25rem;
    font-family: unset;
  }
}

.navtabs {
  border-bottom: 1px solid var(--border);
  button {
    color: oklch(from var(--fg) l c h / 0.75);
    background-color: transparent;
    padding: 1.25rem 0.5rem;
    margin-bottom: -1px;
    border-bottom: 3px solid transparent;
    &[aria-selected="true"] {
      color: var(--accent2);
      border-bottom: 3px solid var(--accent2);
    }
    &:hover:not([aria-selected="true"]) {
      cursor: pointer;
      border-bottom: 3px solid var(--border);
    }
  }
}

.community-stats {
  > div {
    width: 100%;
  }
}

.community-stat {
  background-color: oklch(from var(--border) l c h / 0.5);
  padding: 1rem;
  border-radius: var(--radius);
  flex-grow: 1;
  > svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.username {
  display: inline-block;
  text-decoration: none;
  svg {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
  }
  span {
    text-decoration: underline;
  }
  &.mod {
    color: var(--user-mod);
  }
  &.admin {
    color: var(--user-admin);
  }
}

.reply-body,
.search-result,
.pinned-reply {
  p {
    margin-bottom: 0.375rem;
    line-height: 1.375rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.readmore {
  position: relative;
  overflow: hidden;
  .readmore-fade {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 5rem;
    background: linear-gradient(
      to top,
      var(--bg),
      oklch(from var(--bg) l c h / 0)
    );
  }
}

.pinned-posts {
  align-items: stretch;
}

.pinned-post {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  p {
    font-size: 0.875rem;
  }
}

.pinned-reply {
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.cta {
  background-color: var(--accent1);
  border-radius: var(--radius);
  color: var(--white1);
  display: flex;
  flex-direction: row;
  height: 250px;
  overflow: hidden;
  > div {
    height: 100%;
  }
  .cta-top {
    width: 40%;
    height: 100%;
    background-image: url("./green-deco.gif"),
      linear-gradient(to bottom, var(--accent1), var(--accent2));
    background-blend-mode: luminosity;
    background-size: 250px;
  }
  .cta-bottom {
    width: 60%;
    padding-left: 2.5rem;
    padding-right: 1rem;
  }
  .cta-buttons {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .body {
    padding: 0.75rem;
  }
  main {
    padding: 0;
    .body {
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .pinned-posts {
    flex-direction: column;
  }

  .cta {
    flex-direction: column;
    height: auto;
    div {
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    .cta-top {
      width: 100%;
      height: 150px;
      background-size: 257px;
    }
    .cta-bottom {
      width: 100%;
      padding: 3rem 2rem;
      padding-bottom: 2rem;
    }
    .cta-buttons {
      flex-direction: row-reverse;
    }
  }
}

/* @container header (max-width: 750px) {
  h1 {
    display: none;
  }
} */

@container main (max-width: 400px) {
  .search-result > div {
    flex-direction: column;
    > div:first-child {
      align-self: start;
    }
    > div:last-child {
      align-self: end;
    }
  }
  .reply {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}
