* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

/* basic elements */

svg {
  width: 0;
  height: 0;
}

button:has(svg) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header, nav, main, footer {
  width: 100%;
}

a {
  text-decoration: none;
}

/* utility classes */

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 800px;
  padding: 1rem;
}

/* top nav */

.fixed-header {
  background-color: white;
  border-bottom: 1px solid;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

header {
  height: 3rem;
  border-bottom: 1px solid;
}

.header-body {
  justify-content: space-between;
}

.logo {
  gap: 0.5rem;
  svg {
    width: 1.5rem;
    height: 1.5rem;
    display: inline;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.menu-toggle {
  cursor: pointer;
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  &:has(input[type="checkbox"]:focus) {
    outline: auto;
    outline-offset: 3px;
  }
}

nav {
  overflow: hidden;
  visibility: hidden;
  transition: height 0.5s ease, visibility 0.5s ease;
  &.active {
    visibility: visible;
  }
}

.nav-body {
  gap: 1rem;
}

.nav-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transition: opacity 0.5s ease, display 0.5s ease;
  &.active {
    opacity: 0.25;
  }
}

/* everything else */

main {
  margin-top: 4rem;
  padding: 0 1rem;
}

.main-body {
  padding: 1rem;
  border: 1px solid;
  border-radius: 5px;
  height: 1000px;
  h2 {
    margin-bottom: 1rem;
  }
}

.footer-body {
  padding: 1rem 0;
}

.sidebar-view {
  align-items: start;
  gap: 1rem;
  :first-child {
    flex-grow: 1;
  }
}

.sidebar {
  position: sticky;
  top: 4rem;
  width: 200px;
  border: 1px solid;
}

.communities {
  align-items: start;
  gap: 1rem;
}

.community-link, .community {
  width: 100%;
}

.community {
  border: 1px solid;
}

/* queries */

@media screen and (max-width: 700px) {
  main {
    margin-top: 3rem;
  }

  .main-body {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
  }

  header, main {
    padding: 0;
  }

  .logo {
    h1 {
      display: none;
    }
  }
}