/* @font-face {
  font-family: 'mono';
  src: url(../assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'mono-italic';
  src: url(../assets/fonts/RobotoMono-Italic-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Roboto Condensed";
  src: url(./fonts/RobotoCondensed-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto Condensed Italic";
  src: url(./fonts/RobotoCondensed-Italic-VariableFont_wght.ttf);
}

:root {
  --fontstack: Helvetica, Arial, sans-serif;
  --fg: #333;
  --bg: #fff;
  --bg2: #eee;
  --border: #ddd;
  --radius: 5px;
  --accent1: darkslategray;
  --accent2: mediumaquamarine;
  --warning: crimson;
  --success: yellowgreen;
  --info: lightseagreen;
  --cardshadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

body {
  font-family: "Roboto Condensed", var(--fontstack);
  font-weight: 400;
  color: var(--fg);
}

i {
  font-style: normal !important;
  font-family: "Roboto Condensed Italic", var(--fontstack);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg2);
  header,
  main,
  footer {
    width: 100%;
  }
  > .spacer {
    background-color: var(--accent1);
    color: white;
    height: 100vh;
    svg {
      color: var(--accent2);
    }
  }
}

header {
  background-color: var(--accent1);
  color: white;
  padding-bottom: 3rem;
  a {
    color: white;
  }
}

main {
  margin-top: -3rem;
  flex-grow: 1;
  padding: 0 1rem;
  height: 1px;
  min-height: max-content;
}

.body {
  padding: 1.25rem;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 800px;
}

header .body {
  container: header / inline-size;
}

main .body {
  background-color: white;
  border-radius: var(--radius);
  box-shadow: var(--cardshadow);
  container: main / inline-size;
}

footer .body {
  width: max-content;
}

/* basics */

small {
  line-height: 0.75rem;
}

a {
  font-weight: bold;
  color: var(--accent2);
}

textarea {
  font-family: monospace;
}

input,
textarea,
select {
  color: var(--fg);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  &:focus,
  &:focus-visible {
    outline: 2px solid var(--accent2);
    outline-offset: -1px;
  }
}

hr {
  height: 1px;
  width: 100%;
  border: none;
}

header hr {
  border-top: 1px solid oklch(from var(--accent1) calc(l + 0.5) c h / 0.25);
}

main hr {
  border-top: 1px solid var(--border);
}

.header-list {
  overflow: hidden;
  transition: height 0.5s ease;
  li,
  button {
    width: 100%;
  }
  ul {
    padding: 3px;
  }
}

.logo {
  text-decoration: none;
  svg {
    color: var(--accent2);
    width: 2.5rem;
    height: 2.5rem;
  }
}

.primary {
  --color: var(--accent1);
}
.secondary {
  --color: var(--accent2);
}
.warning {
  --color: var(--warning);
}
.success {
  --color: var(--success);
}
.info {
  --color: var(--info);
}

.alert {
  padding: 0.5rem 0.75rem;
  width: 100%;
  border-radius: var(--radius);
  p {
    flex-grow: 1;
  }
  svg {
    flex-shrink: 0;
  }

  &.warning,
  &.success,
  &.info {
    background-color: oklch(from var(--color) calc(l + 0.5) c h / 0.25);
    color: oklch(from var(--color) calc(l - 0.125) c h);
    a {
      color: oklch(from var(--color) calc(l - 0.125) c h);
    }
    svg {
      color: var(--color);
    }
  }

  &.blind {
    background-color: oklch(from var(--fg) calc(l + 0.5) c h / 0.125);
    color: oklch(from var(--fg) calc(l - 0.125) c h / 0.625);
    a {
      color: oklch(from var(--fg) calc(l - 0.125) c h / 0.625);
    }
    svg {
      color: oklch(from var(--fg) calc(l - 0.125) c h / 0.625);
    }
  }
}

input,
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--bg);
}

label {
  span {
    font-weight: bold;
    min-width: max-content;
    flex-shrink: 0;
  }
}

.body > h2 {
  margin-bottom: 1rem;
}

.form {
  width: 100%;
  button[type="submit"] {
    align-self: end;
  }
}

.form-label {
  width: 100%;
  &:has(.form-error) {
    input,
    select,
    textarea {
      border: 1px solid var(--warning);
    }
  }
}

.form-input-checklist {
  list-style: none;
  li {
    padding: 0.125rem 0;
    line-height: 1.625rem;
    &.good svg {
      color: var(--success);
    }
    &.missing svg {
      color: var(--warning);
    }
  }
}

.spacer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  svg {
    width: 2rem;
    height: 2rem;
  }
  p {
    text-align: center;
  }
}

.search {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
  align-items: center;
  h3 {
    grid-column: 1 / 3;
  }
  label {
    text-align: right;
  }
}

.spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.search-result {
  padding: 1rem 0;
  h3 {
    line-height: 1.25rem;
  }
  & + .search-result {
    border-top: 1px solid oklch(from var(--border) l c h / 0.5);
  }
  svg {
    min-width: 1.125rem;
    flex-shrink: 0;
  }
}

.post-content {
  p {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.replies {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}

.reply {
  position: relative;
  width: 100%;
}

.reply + .reply {
  margin-top: 0.5rem;
}

.reply-top {
  height: calc(1.5rem - 2px);
  margin-left: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reply-body {
  border-left: 1px solid var(--border);
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  p {
    margin-bottom: 0.25rem;
    line-height: 1.375rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.reply-loadmore {
  display: block;
  margin-left: -0.5rem;
}

.vote-widget {
  flex-shrink: 0;
  .button {
    padding: 0.125rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.125rem;
    }
  }
}

.flyout {
  width: max-content;
  height: max-content;
  position: relative;
  > button {
    padding: 0.125rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.125rem;
    }
  }
  .menu {
    z-index: 1;
    box-shadow: var(--cardshadow);
    border-radius: var(--radius);
    background-color: var(--bg);
    position: absolute;
    padding: 0.25rem;
    /* top: 2rem;
    right: 0;
    width: 150px; */
    button,
    a[type="button"] {
      width: 100%;
      text-align: left;
      min-width: max-content;
    }
  }
}

button.reply-collapse:not(:has(span)).plain {
  /* to get past specificity... */
  background-color: var(--bg);
  border-radius: 100%;
  padding: 0.125rem;
  border: 1px solid var(--border);
  position: absolute;
  /* left: -0.875rem; */
  left: calc(-0.75rem + 2px);
  /* top: 0.75rem; */
  svg {
    width: 1rem;
    height: 1rem;
  }
}

.reply-linkrow {
  margin-left: -0.5rem;
  .button {
    padding: 0.125rem 0.5rem;
    line-height: 1.5rem;
  }
}

.body .linkrow {
  justify-content: end;
}

.custom-toast {
  --toastify-color-info: var(--info);
  --toastify-color-success: var(--success);
  --toastify-color-warning: var(--warning);
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  box-shadow: var(--cardshadow);
  border-radius: var(--radius);
  align-items: start;
  font-family: "Roboto Condensed", var(--fontstack);
  line-height: 1.25rem;

  .Toastify__toast-icon {
    width: auto;
    svg {
      flex-shrink: 0;
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  p {
    margin-top: 0.25rem;
    font-family: unset;
  }
}

.navtabs {
  border-bottom: 1px solid oklch(from var(--border) calc(l + 0.05) c h);
  button {
    color: oklch(from var(--fg) l c h / 0.75);
    background-color: transparent;
    padding: 1.25rem 0.5rem;
    margin-bottom: -1px;
    border-bottom: 3px solid transparent;
    &[aria-selected="true"] {
      color: var(--accent2);
      border-bottom: 3px solid var(--accent2);
    }
    &:hover:not([aria-selected="true"]) {
      cursor: pointer;
      border-bottom: 3px solid oklch(from var(--border) calc(l + 0.05) c h);
    }
  }
}

@media screen and (max-width: 500px) {
  .body {
    padding: 0.75rem;
  }
  main {
    padding: 0;
    .body {
      border-radius: 0;
    }
  }
}

@container header (max-width: 650px) {
  h1 {
    display: none;
  }
}

@container main (max-width: 400px) {
  .search-result > div {
    flex-direction: column;
    > div:first-child {
      align-self: start;
    }
    > div:last-child {
      align-self: end;
    }
  }
  .reply {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}
